<% @tracks.each do |track| %>
  <h1><%= track.song_title %></h1>
  <div>
    <a href="<%= track.url %>"><%= track.url %></a>
    <div>Created At: <%= track.created_at %></div>
    <div>Updated At: <%= track.updated_at %></div>
  </div>
<% end %>

<div><a href="/tracks">Back to All Tracks</a></div>










