<h1>"Welcome, <%=@user.user_name%>!"</h1>

<% @tracks.each do |track| %>
  <div class="track">
    <h3><a href="/tracks/<%= track.id %>"><%= track.song_title %></a><small>(by: <%= track.artist %>)</small></h3>
    <p>
      <a href="<%= track.url %>"><%= track.url %></a>
    </p>
  </div>
<% end %>


<div><a href="/sessions/logout">Log Out</a></div>

<div><a href="/tracks/new">Add a new song!</a></div>

<div><a href="/tracks">Back to the Wall</a></div>